@charset "UTF-8";

body{
   background-color: #e5cfb0;
   display: flex ;
   align-items: center;
   justify-content: center;
 }

.content-load{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

#load{
   background-image: url("assets/img/secundaria_preta2.png");
   width:  280px;
   height: 100px;
}

.content{
   display: none;
}